.top-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px) saturate(150%);
  -webkit-backdrop-filter: blur(8px) saturate(150%);
  z-index: 10;
  pointer-events: none;
}

.bannerHero {
  margin-top: -165px;
  position: relative;
}

.bannerHero-image {
  height: 750px;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 0;
  overflow: hidden;
}

.bannerHero-image_img {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 750px;
}

.mask {
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
}

.video-fondo {
  height: 100%;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.contenido-banner {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  text-align: right;
  color: white;
  font-family: "Arial Black", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.contenido-banner h2 {
  font-family: var(--barlow-semibold-3);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px; /* Leve separación de letras */
  line-height: 20px;
  margin-bottom: 15px; /* Espacio debajo */
  text-align: right;
  text-transform: uppercase; /* Opcional: todo en mayúsculas */
}

.title-banner {
  width: 765px;
  margin-right: 10px;
}

.contenido-banner h1 {
  font-size: 3em;
  margin: 0 0 20px 0; /* Espacio debajo */
  letter-spacing: 0.015em;
  text-align: right;
}

.contenido-banner p {
  font-size: 22px;
  margin: 0;
  letter-spacing: 0.5px;
  line-height: 34px;
  text-align: right;
  font-weight: 600;
  font-family: var(--barlow-semibold-2);
}

/* Estilos para las tarjetas */
.cc03_highlights {
  margin-top: 80px;
  margin-bottom: 80px;
  z-index: 1;
}
--------------------
.aem-GridColumn {
  box-sizing: border-box;
  clear: both;
}

.card {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 100%;
  border-radius: 8px; /* Borde redondeado */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; /* Posicionamos la imagen fuera de la tarjeta */
  top: 0;
  right: 60%; /* Empujamos la imagen fuera de la tarjeta a la derecha */
  transition: transform 0.5s ease; /* Animación de la imagen */
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Empujamos el fondo verde fuera de la tarjeta a la izquierda */
  width: 100%;
  height: 100%;
  background: rgba(0, 128, 0, 0.4); /* Fondo verde */
  transition: transform 0.48s ease; /* Animación del fondo verde */
  z-index: 3;
}

.card-body {
  position: relative;
  z-index: 0; /* Asegura que el texto esté encima */
  padding: 1rem;
  opacity: 1;
  transition: opacity 0.5s ease 0.5s; /* Transición para que el texto tarde en aparecer */
}

/* Hover en la tarjeta */
.card:hover img {
  transform: translateX(60%); /* La imagen se mueve hacia dentro de la tarjeta */
  z-index: 2;
}

.card:hover::before {
  transform: translateX(100%); /* El fondo verde se desliza hacia dentro */
}

.card:hover .card-body {
  opacity: 0; /* El texto se desvanece cuando se hace hover */
}

.card:not(:hover) .card-body {
  opacity: 1; /* El texto se vuelve visible cuando se desactiva el hover */
}